body{
    /*background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(background.jpg);*/
    background-position: center;
}
.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}
.login-left{
    background: aquamarine;
    padding: 30px;
}
.login-right{
    background: rgb(171, 177, 175);
    padding: 30px;
}
